{% extends 'base.html' %}


{% block content %}
<h4 class="text-center">Add New Employee</h4>
<div class="card p-3">
    <form action="/addemployee/" method="POST">
      {% csrf_token %}
        
        <div class="mb-2">
            <label for="exampleInputId" class="form-label">Id</label>
            <input type="text" class="form-control" placeholder="Enter Employee Id" name="empID">
        </div> 
        <div class="mb-2">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="Enter Employee Name" name="empName">
        </div> 
        
        <div class="mb-2">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="text" class="form-control" placeholder="Enter Employee Email" name="empEmail">
        </div>

        <div class="mb-2">
            <label for="exampleInputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" placeholder="Enter Employee Address" name="empAddress">
          </div>

        <div class="mb-2">
            <label for="exampleInputPhone" class="form-label">Phone</label>
            <input type="text" class="form-control" placeholder="Enter Employee Phone Number" name="empPhone">
          </div>

        <div class="container text-center mt-2">
            <button type="submit" class="btn btn-sm btn-outline-primary">Add Employee</button>
          </div>
        
      </form>
</div>


{% endblock content %}