<div class="header bg-light d-flex justify-content-between">

    <nav class="nav">
        <a class="nav-link text-dark" href="{% url 'home' %}">Home</a>
        <a class="nav-link text-dark" href="{% url 'allemployees' %}">All Employees</a>
        <a class="nav-link text-dark" href="{% url 'addemployee' %}">Add Employees</a>
      </nav>
    
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#" >Logout</a>
        </li>
      </ul>
</div>